In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("DSE3101_HDB_Resale_Price/backend/processed_data/hdb_resale_prices.csv")

In [3]:
df = df.drop(df.columns[0], axis=1)
df

,resale_price,year,floor_area_sqm,remaining_lease,ave_storey,dist_to_nearest_mrt,mrt_1km,dist_to_nearest_supermarket,supermarket_1km,dist_to_nearest_hawkers,...,postal_2dig_73,postal_2dig_76,postal_2dig_80,postal_2dig_42,postal_2dig_58,postal_2dig_66,postal_2dig_45,postal_2dig_91,postal_2dig_30,postal_2dig_11
0,232000.0,2017,44.0,61.333333,22,1.005121,0,0.389702,2,0.182112,...,0,0,0,0,0,0,0,0,0,0
1,250000.0,2017,67.0,60.583333,4,0.190087,1,0.386292,6,0.357355,...,0,0,0,0,0,0,0,0,0,0
2,262000.0,2017,67.0,62.416667,4,0.535716,1,0.864421,1,0.586177,...,0,0,0,0,0,0,0,0,0,0
3,265000.0,2017,68.0,62.083333,10,0.946586,1,0.479887,4,0.245933,...,0,0,0,0,0,0,0,0,0,0
4,265000.0,2017,67.0,62.416667,4,0.501712,1,0.909786,1,0.611702,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175345,851888.0,2024,146.0,62.583333,22,0.355151,1,0.195532,6,1.338952,...,0,1,0,0,0,0,0,0,0,0
175346,830000.0,2024,146.0,63.333333,16,1.581935,0,0.475325,3,2.319765,...,0,1,0,0,0,0,0,0,0,0
175347,820000.0,2024,146.0,63.416667,22,0.827454,1,0.058092,9,1.561428,...,0,1,0,0,0,0,0,0,0,0
175348,860000.0,2024,146.0,63.416667,10,1.203687,0,0.360705,5,1.952523,...,0,1,0,0,0,0,0,0,0,0
175349,780000.0,2024,142.0,62.833333,16,0.575712,2,0.392679,8,1.420292,...,0,1,0,0,0,0,0,0,0,0

In [4]:
# init setup
from pycaret.regression import *
reg1 = setup(data = df,  target = 'resale_price')

# compare models
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                 17:47:44
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Processing:   0%|          | 0/77 [00:00<?, ?it/s]